
#root {
  
  margin: 0 ;
  padding: 0;

}


header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
  color: white;
}

header div {
  font-size: 28px;
  font-weight: bold;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

header nav ul li a:hover {
  color: #dddddd;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
  }
}

/* General Styles */

/* TaskForm Styles */

.todo{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 30px;
}
.TaskForm{
 display: flex;
 justify-content: center;
 align-items: center;

}
form {
  margin-bottom: 20px;
}

input[type="text"] {
 
  padding: 9px 20px;
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

input::placeholder{
  margin-left: 50px;
}
input[type="text"]:focus {
  border-color: #555555;
  outline: none;
}
button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #555555;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* TaskList Styles */
.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.task-list li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

/* Task Component Styles */
.task { 
  width: 100%;
  margin-right: 50px;
  background-color: #fff;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content:space-between;
  align-items: center;
  transition: box-shadow 0.3s, transform 0.3s;
}

.task:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.task p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  flex: 1; /* Make the task description take up available space */
  padding-right: 20px; /* Add padding to create a gap between the text and buttons */
}

.task button {
  margin-left: 10px;
}

.comp-task{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comp-task h1{
  margin-top: 100px;
  margin-bottom: 30px;
}

.comp-task ul li{
  list-style: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.comp-task ul li:hover{
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
} 

.about h1{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.about p{
  width: 40%;
  font-size: 20px;
  margin-bottom: 10px;

}


@media (max-width: 700px) {
  /* Adjust styles for screens smaller than 700px */
  .task-list {
    flex-direction: column;
  }

  .task {
    width: 70%;
  }

  .about p {
    width: 70%;
  }
}

@media (max-width: 400px) {
  /* Adjust styles for screens smaller than 400px */
  header {
    padding: 10px;
  }

  header div {
    font-size: 21px;
  }

  header nav ul li a {
    font-size: 15px;
  }

  .todo {
    margin-top: 50px;
  }
  
  input[type="text"] {
 
    padding: 6px 10px;
    margin: 10px 0;
    font-size: 16px;
  }

  .task {
    padding: 4px 20px;
  }

  .task p {
    font-size: 15px;
  }

  .about p {
    width: 70%;
    font-size: 15px;
  }
  button {
    
    padding: 5px 7px;
    margin: 5px;
    font-size: 12px;

  }
  .task-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  
}

.hidden {
  display: none;
}

.visible {
  display: block;
}